{% extends "base.html" %} {% load static %} {% block content %}
<div class="about_us_container">
  <h2>About Us</h2>
    <div class="img-about">
        <img src="{% static 'images/img-bg-about.png' %}" alt="">
    </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel justo at
    purus maximus vulputate quis vitae enim. Pellentesque pharetra libero nec
    neque efficitur congue. Proin et risus iaculis, ultrices sem vel, lacinia
    tortor. Morbi placerat velit vitae magna consectetur, quis commodo enim
    semper. Nunc ac dolor massa. Donec vel vulputate tellus. Sed vestibulum
    ipsum id metus molestie, at posuere diam sollicitudin. Nam sed leo odio.
    Morbi varius ut ipsum a egestas. Cras augue purus, tristique vel risus a,
    viverra sodales lorem.
  </p>
  <hr class="hr-line" />
  <p>
    Phasellus sed lorem volutpat, auctor risus mattis, mattis augue. Sed at elit
    semper justo dapibus sagittis quis semper leo. Vivamus tortor enim,
    elementum quis malesuada non, faucibus vitae risus. Nulla elementum quam
    libero, sed varius purus imperdiet quis. Fusce dignissim, dolor nec
    convallis accumsan, enim mi ullamcorper dui, eu scelerisque magna metus nec
    velit. In nec maximus dolor. Nunc mattis ante augue, vitae interdum dolor
    laoreet nec. Duis consectetur, tellus nec egestas dignissim, sapien diam
    rutrum orci, at tempus eros ligula vitae nisi. Nam quis congue metus. Sed
    efficitur, arcu nec imperdiet interdum, erat justo auctor ligula, sit amet
    semper mauris velit eget odio. Mauris dictum ligula consectetur, pulvinar
    nisi a, fermentum massa. Morbi mauris augue, semper vitae accumsan a,
    vehicula ac purus. Quisque pretium urna et placerat bibendum.
  </p>
  <hr class="hr-line" />
  <p>
    Curabitur sagittis lacus sit amet eleifend sagittis. Donec sed pellentesque
    tortor. Nam sagittis eget diam quis fermentum. Sed interdum diam eget
    lobortis dictum. In in lobortis lectus. In semper sed ligula et aliquam.
    Donec pretium ac nisl vitae volutpat. Cras mattis nisi a augue efficitur
    tempus. Ut eleifend ligula in velit auctor consectetur. Etiam aliquam felis
    nec purus eleifend aliquet.Nunc semper fringilla augue nec accumsan.
    Suspendisse pretium felis justo, at porta nibh venenatis sit amet. Proin
    suscipit ligula id diam blandit consequat. Nulla pulvinar est orci, a
    maximus nunc bibendum quis.
  </p>
  <hr class="hr-line" />
  <p>
    Curabitur in elementum erat, eu ornare eros. Nunc malesuada neque id sapien
    luctus, ut commodo metus blandit. Vestibulum dignissim vulputate augue, quis
    consectetur odio ultrices ac. Class aptent taciti sociosqu ad litora
    torquent per conubia nostra, per inceptos himenaeos. Pellentesque sit amet
    ex sit amet lectus sodales blandit nec eleifend tortor. Donec elementum
    venenatis pulvinar. Duis tristique aliquam elit in rutrum. Cras at dui enim.
    Sed nunc ipsum, rhoncus in eros id, commodo pulvinar purus. Vestibulum ante
    ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
  </p>
</div>
<script src="{% static 'js/contact_form.js' %}"></script>
{% endblock content %}
