{% extends 'base.html' %} {% block content %} {% load static %}

<div class="carousel-container">
  <div class="carousel-wrapper">
    <div class="carousel-slide">
      <img
        src="../static/images/golf-white.jpg"
        alt="some images"
      />
    </div>
    <div class="carousel-slide">
      <img src="../static/images/ID7-blue.jpg" alt="some images" />
    </div>
    <div class="carousel-slide">
      <img src="../static/images/passat-black.jpg" alt="tayron" />
    </div>
  </div>
  <button class="prev">&#10094;</button>
  <!-- Left arrow -->
  <button class="next">&#10095;</button>
  <!-- Right arrow -->
</div>
<div class="home-paragraph">
  <span>
    Descoperiți acum diversitatea gamei noastre de modele - de la mașini mici la
    mașini spațioase de famile
    și SUV-uri electrice. La Volkswagen, veți găsi cu siguranță modelul potrivit
    pentru dumneavoastră.
  </span>
</div>
<div class="body-container">
  <div class="card-container-home">
    {% for car in cars %}
    <div class="car-card ">
      {% if car.image %}
      <img src="{{ car.image.url }}" alt="{{ car.model_name }}" />
      {% else %}
      <img src="{% static 'images/default-car.jpg' %}" alt="Default car image"/>
      {% endif %}
      <div class="car-card-content">
        <h3>{{ car.company_name }} {{ car.model_name }}</h3>
        <p>Alege modelul potrivit pentru tine.</p>
        <a href="{% url 'create_config' car.id %}" class="configure-button">Configure</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
