{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/profile_style.css' %}" />

<!-- Main content container that will be blurred -->
<div class="container-password-done">
  <!-- Other page content (which will be blurred) -->
  <div class="change-password-container">
    <!-- Any other content you have here (it will be blurred) -->
  </div>
</div>

<!-- Password Change Success Modal -->
<div class="password-change-overlay">
  <div class="password-change-modal">
    <p>Your password has been updated successfully.</p>
    <a href="{% url 'view_profile' %}" class="password-change-btn">Return to Profile</a>
  </div>
</div>

{% endblock %}
