{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'styles/profile_style.css' %}" />
<div class="change-password-container">
  <div class="profile-name">
    <h2>Change Password</h2>
  </div>
  <form method="post" class="profile-form">
    {% csrf_token %}
    {% if form.non_field_errors %}
  <div class="error">{{ form.non_field_errors }}</div>
{% endif %}

    <div class="form-group">
      <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
      <div class="input-field">{{ form.old_password }}</div>
      {% if form.old_password.errors %}
      <div class="error">{{ form.old_password.errors }}</div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
      <div class="input-field">{{ form.new_password1 }}</div>
      {% if form.new_password1.errors %}
      <div class="error">{{ form.new_password1.errors }}</div>
      {% endif %}
    </div>

    <div class="form-group">
      <label for="{{ form.new_password2.id_for_label }}"
        >Confirm New Password:</label
      >
      <div class="input-field">{{ form.new_password2 }}</div>
      {% if form.new_password2.errors %}
      <div class="error">{{ form.new_password2.errors }}</div>
      {% endif %}
    </div>

    <button type="submit" class="change-password-button">Change Password</button>
  </form>
</div>
{% endblock %}
