{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/profile_style.css' %}" />


<div class="container-password-done">
  <div class="change-password-container"></div>
</div>

<!-- Password Change Success Modal -->
<div class="password-change-overlay">
  <div class="password-change-modal">
    <p>Your password has been updated successfully.</p>
    <a href="{% url 'view_profile' %}" class="password-change-btn">Return to Profile</a>
  </div>
</div>

{% endblock %}
